
.contenido {
    width: 100%;
	margin: auto;
    overflow: hidden;
}

.titulo {
    color: black;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
}

.info_n {
    font-size: 20px;
    color:rgb(74, 70, 69) ;
    
}

.hr{
    height: 10px;
    width: 1300px;
    margin-left: 20px;
    background-color: #4187d1;
}
.noticia {
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 60px;
    float: left;  
}
.pie_pagina{
    background: #4187d1;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}