<!DOCTYPE html>
<html lang="es">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css'%}">
</head>
<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Sistema de registro</h1>
                <nav>
                    <a href="Inicio.html">Listado</a>
                    <a href="Informacion.html">Noticas</a>
                </nav>
            </div>
        </div>

        <section class="banner contenedor">
            <secrion class="banner_title">
                <h2>Registra a tus médicos <br> y pacientes aquí</h2>
                <a href="login.html" class="Ingresar">¡Ingresa!</a>
            </secrion>
            <div class="banner_img">
                <img src="https://img.freepik.com/vector-gratis/gente-caminando-sentada-edificio-hospital-exterior-cristal-clinica-ciudad-ilustracion-vector-plano-ayuda-medica-emergencia-arquitectura-concepto-salud_74855-10130.jpg" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
</body>
</html>