<!DOCTYPE html>
<html lang="en">
<head>
    <title>Listado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar" style="background-color:#065786;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">HOSPITAL</a>
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://img.freepik.com/vector-gratis/fondo-hexagonal-dia-mundial-salud-simbolo-caduceus_1035-2045.jpg?w=360" width="60" >
      </a>
      <nav>
        <a href="/">Volver</a>
    </nav>
    </div>
  </nav>
  <style>
    body{background:url(https://img.freepik.com/foto-gratis/doctor-estetoscopio-manos-fondo-hospital_1423-1.jpg?w=2000)no-repeat;background-size:cover;}</body>
  </style>
  <header class="bg_animate">
    <hr>
      <div class="col-sm-12 col-md-6 col-lg-9 col-xl-9">
          <h1>Lista de los médicos</h1>
          <div class="" style="border-color:#1a1a1b;">
          <div class="table-responsive py-2">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Código</th>
                          <th>Nombres</th>
                          <th>Apellidos</th>
                          <th>Especialidad</th>
                          <th>Jornada</th>
                          <th>Telefono</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for c in Informacion %}
                      <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{c.codigo}}</td>
                          <td>{{c.nombre}}</td>
                          <td>{{c.Apellido}}</td>
                          <td>{{c.Especialidad}}</td>
                          <td>{{c.Jornada}}</td>
                          <td>{{c.Telefono}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>
    </header>
</body>
</html>
